streamlit
langchain
langchain-groq
langchain-community
langchain-core
langgraph
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
python-dotenv
pypdf
docx2txt
requests
unstructured
openpyxl
msoffcrypto-tool